* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    line-height: 1.6;
}

/* Hero Section */
#hero {
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;

}

#hero h1 {
    font-size: 2.5rem;
    color: #333;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

/*About Section*/
#about,
#portfolio,
#skills,
#contact {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

/* portfolio Section */
.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    font-size: 1.5rem;
    color: #555;
}

/* Skills Section */
#skills ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#skills li {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Contact Section */
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}